.none {
	display: none !important;
}

.visually-hidden {
	position: absolute;
	opacity: 0;
	visibility: hidden;
	width: 0px;
	height: 0px;
	display: block;
	margin-left: -10000px;
	background: transparent;
	font-size: 0;
}

.body {
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: #737373;
	}

	.container {
		width: 1046px;
		padding-left: 15px;
		padding-right: 15px;
		margin-left: auto;
		margin-right: auto;
	}

.header {
padding-top: 23px;
padding-bottom: 23px;
border-bottom: 1px solid rgb(65, 61, 61);
}

.header-row {
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
}

.header-nav {
	margin-left: 170px;
}

.header-nav a {
	font-weight: 600;
	color: rgb(19, 21, 21);
	transition: 0.3s ease;
}

.header-nav, a:hover {
	color: #b07826;
}

.header-nav ul {
display: flex;
}

.header-nav li:not(:last-child) {
	margin-right: 21px;
}

.headr-login {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.headr-login > * + * {
margin-left: 35px;
}

.headr-login a {
	color: #000;
	transition: 0.3s ease;
}

.signin:hover {
	color: #b07826;
}

.btn, a.btn {
	display: inline-block;
	/*height: 51px;*/ 
	line-height: 51px;
	padding-left: 50px;
	padding-right: 50px;
	font-size: 20px;
	font-weight: 400;
	border-radius: 4px;
	background-color: rgb(150, 43, 43);
	color: white;
	transition: opacity 0.2s ease;
}

.btn:hover, .a.btn:hover {
	opacity: 0.8;
	color: white;
}









/* .wrapper {
	min-height: 100%;
	overflow: hidden;
}

.container {
	min-width: 1046px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;	
}

/* --------------------------------- */
/* .header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}
.header__container {
	display: flex;
	min-height: 104px;
	align-items: center;
	box-sizing: content-box;

}

.header__menu {
	margin: 0px 0px 0px 133px;
}

.menu {
}

.header__logo {
	font-weight: 700;
	font-size: 24px;
	color: inherit;
}
.menu__list {
	display: flex;
	
}
.menu__item {
	margin: 0px 21px 0px 0px;
}
.menu__link {
	color: #737373;
	line-height: 171%;
	font-weight: 600;
} */ */
